<!DOCTYPE html>
<html lang="dk" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>IMS</title>

    <link type="text/css" rel="stylesheet" href="../css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../css/tempusdominus-bootstrap-4.min.css">
    <link type="text/css" rel="stylesheet" href="../css/summernote-bs4.min.css">
    <link type="text/css" rel="stylesheet" href="../css/style.css">

    <script type="text/javascript" src="../js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="../js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../js/moment.min.js"></script>
    <script type="text/javascript" src="../js/moment-with-locales.min.js"></script>
    <script type="text/javascript" src="../js/tempusdominus-bootstrap-4.min.js"></script>
    <script type="text/javascript" src="../js/summernote-bs4.min.js"></script>
    <script type="text/javascript" src="../js/script.js"></script>
</head>
<body>

<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <nav th:replace="/includes/sidebar-nav :: sidebar-nav"></nav>

    <!-- Page Content -->
    <div id="page-content-wrapper">

        <!-- Top navbar -->
        <nav th:replace="/includes/top-navbar :: top-navbar"></nav>

        <div class="container-fluid page-content">
            <div class="container">
                <div class="card card-custom">
                    <div class="card-header">
                        Tilføj produkt
                        <div class="description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua.
                        </div>
                    </div>
                    <div class="card-body add-product">
                        <form th:action="@{/product/save/}" th:object="${prod}" th:method="post">
                            <div class="row justify-content-center">
                                <div class="col-xl-9 d-flex flex-column justify-content-between">
                                    <div>
                                        <div class="content-title">
                                            Produktdetaljer
                                        </div>
                                        <!--
                                        <div class="form-group row page">
                                            <label class="col-xl-3 col-form-label">
                                                Kategori
                                            </label>
                                            <div class="col-xl-9">
                                                <select class="form-control form-control-lg custom-select custom-select-lg">
                                                    <option selected>---</option>
                                                    <option value="1">One</option>
                                                    <option value="2">Two</option>
                                                    <option value="3">Three</option>
                                                </select>
                                            </div>
                                        </div>
                                        -->
                                        <div class="form-group row page">
                                            <label class="col-xl-3 col-form-label">
                                                Produktnavn
                                            </label>
                                            <div class="col-xl-9">
                                                <input class="form-control form-control-lg" name="productName"
                                                       type="text" th:field="${product.productName}">
                                            </div>
                                        </div>
                                        <div class="form-group row page">
                                            <label class="col-xl-3 col-form-label">
                                                Producent
                                            </label>
                                            <div class="col-xl-9">
                                                <input class="form-control form-control-lg" name="vendor" type="text"
                                                       th:field="${product.vendor}">
                                            </div>
                                        </div>
                                        <!--
                                        <div class="form-group row page">
                                            <label class="col-xl-3 col-form-label">
                                                Enhed for batch
                                            </label>
                                            <div class="col-xl-9">
                                                <input class="form-control form-control-lg" name="vendor" type="text">
                                            </div>
                                        </div>
                                        <div class="form-group row page">
                                            <label class="col-xl-3 col-form-label">
                                                Kommentar
                                            </label>
                                            <div class="col-xl-9">
                                                <div id="summernote"></div>
                                            </div>
                                        </div>
                                        <script>
                                            $('#summernote').summernote({
                                                placeholder: 'Skriv en kommentar her',
                                                tabsize: 2,
                                                height: 100,
                                                toolbar: [
                                                    // [groupName, [list of button]]
                                                    ['style', ['bold', 'italic', 'underline', 'clear']],
                                                    ['color', ['color']],
                                                    ['para', ['ul', 'ol', 'paragraph']],
                                                ]
                                            });
                                        </script>
                                        -->
                                    </div>
                                    <div class="d-flex justify-content-end border-top pt-10">
                                        <button type="submit" class="btn btn-success font-weight-bolder px-9 py-4">Opret
                                            produkt
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>