<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head></head>
<body>
<div class="container">
    <form action="/category/save" th:object="${category}" method="post">

        <input type="text" placeholder="Category name" th:field="${category.categoryName}">

        <select th:field="*{items}" multiple="multiple">
            <option th:each="item : ${allItems}"
                    th:value="${item.itemId}"
                    th:text="${item.itemName}">
            </option>
        </select>

        <button type="submit">Create Category</button>


    </form>


</div>
</body>
</html>