<!DOCTYPE html>
<html lang="dk" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>IMS</title>

    <link type="text/css" rel="stylesheet" href="../css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../css/tempusdominus-bootstrap-4.min.css">
    <link type="text/css" rel="stylesheet" href="../css/style.css">

    <script type="text/javascript" src="../js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="../js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../js/moment.min.js"></script>
    <script type="text/javascript" src="../js/moment-with-locales.min.js"></script>
    <script type="text/javascript" src="../js/tempusdominus-bootstrap-4.min.js"></script>
    <script type="text/javascript" src="../js/script.js"></script>
</head>
<body>

<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <nav th:replace="/includes/sidebar-nav :: sidebar-nav"></nav>

    <!-- Page Content -->
    <div id="page-content-wrapper">

        <!-- Top navbar -->
        <nav th:replace="/includes/top-navbar :: top-navbar"></nav>

        <h1>Coming soon...</h1>

    </div>

</div>

</body>
</html>