<!DOCTYPE html>
<html lang="dk" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>IMS</title>

    <link type="text/css" rel="stylesheet" href="../css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../css/tempusdominus-bootstrap-4.min.css">
    <link type="text/css" rel="stylesheet" href="../css/style.css">

    <script type="text/javascript" src="../js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="../js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../js/moment.min.js"></script>
    <script type="text/javascript" src="../js/moment-with-locales.min.js"></script>
    <script type="text/javascript" src="../js/tempusdominus-bootstrap-4.min.js"></script>
    <script type="text/javascript" src="../js/script.js"></script>
</head>
<body>

<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <nav th:replace="/includes/sidebar-nav :: sidebar-nav"></nav>

    <!-- Page Content -->
    <div id="page-content-wrapper">

        <!-- Top navbar -->
        <nav th:replace="/includes/top-navbar :: top-navbar"></nav>

        <div class="container-fluid page-content">
            <div class="row">
                <div class="col-xl-4">
                    <div class="card card-custom">
                        <div class="card-header" style="flex: 1;">
                            Handlinger
                            <div class="description">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua.
                            </div>
                        </div>
                        <div class="card-body actions" style="flex: 0 1 auto;">
                            <a th:href="@{/product/add}" class="category new-product">
                                <svg class="svg" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                                     xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                     viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;"
                                     xml:space="preserve">
<g>
	<g>
		<path d="M492,236H276V20c0-11.046-8.954-20-20-20c-11.046,0-20,8.954-20,20v216H20c-11.046,0-20,8.954-20,20s8.954,20,20,20h216
			v216c0,11.046,8.954,20,20,20s20-8.954,20-20V276h216c11.046,0,20-8.954,20-20C512,244.954,503.046,236,492,236z"/>
	</g>
</g>
                                    <g>
</g>
                                    <g>
</g>
                                    <g>
</g>
                                    <g>
</g>
                                    <g>
</g>
                                    <g>
</g>
                                    <g>
</g>
                                    <g>
</g>
                                    <g>
</g>
                                    <g>
</g>
                                    <g>
</g>
                                    <g>
</g>
                                    <g>
</g>
                                    <g>
</g>
                                    <g>
</g>
</svg>
                                <div class="text">
                                    Tilføj produkt
                                </div>
                            </a>
                            <a th:href="@{/batch/add}" class="category new-batch">
                                <svg class="svg" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                                     xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                     viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;"
                                     xml:space="preserve">
<g>
	<g>
		<g>
			<path d="M221.998,149.001h55v55c0,11.046,8.954,20,20,20s20-8.954,20-20v-55h55c11.046,0,20-8.954,20-20s-8.954-20-20-20h-55v-55
				c0-11.046-8.954-20-20-20s-20,8.954-20,20v55h-55c-11.046,0-20,8.954-20,20S210.952,149.001,221.998,149.001z"/>
            <path d="M496.303,109.472c-10.785-2.378-21.459,4.436-23.838,15.222L437.85,281.618c-4.076,18.478-20.054,31.383-38.854,31.383
				c-11.046,0-20,8.954-20,20s8.954,20,20,20c18.161,0,35.933-6.274,50.041-17.667C463.1,323.976,473,307.961,476.91,290.233
				l34.616-156.924C513.906,122.523,507.091,111.85,496.303,109.472z"/>
            <path d="M398.997,394H136.999c-11.028,0-20-8.972-20-20c0-0.169-0.021-0.332-0.025-0.5c0.004-0.168,0.025-0.331,0.025-0.5
				c0-11.028,8.972-20,20-20h161.999c11.046,0,20-8.954,20-20s-8.954-20-20-20H151.94L128.251,95.37l-0.053-0.438
				C121.098,40.813,74.582,0.002,20,0.002c-11.046,0-20,8.954-20,20s8.954,20,20,20c34.506,0,63.923,25.749,68.511,59.927
				l23.775,218.418c-20.787,9.437-35.287,30.376-35.287,54.652c0,0.169,0.021,0.332,0.025,0.5c-0.004,0.168-0.025,0.331-0.025,0.5
				c0,33.084,26.916,60,60,60h8.157c-2.036,5.967-3.157,12.353-3.157,19c0,32.533,26.467,59,59,59c32.533,0,59-26.467,59-59
				c0-6.647-1.121-13.033-3.157-19h86.313c-2.036,5.967-3.157,12.353-3.157,19c0,32.533,26.467,59,59,59c32.533,0,59-26.467,59-59
				C457.996,420.466,431.53,393.999,398.997,394z M200.998,471.998c-10.477,0-19-8.523-19-19c0-10.477,8.523-19,19-19
				s19,8.523,19,19C219.998,463.475,211.475,471.998,200.998,471.998z M398.997,471.998c-10.477,0-19-8.523-19-19
				c0-10.477,8.523-19,19-19c10.477,0,19,8.523,19,19C417.997,463.475,409.474,471.998,398.997,471.998z"/>
		</g>
	</g>
</g>
                                    <g>
</g>
                                    <g>
</g>
                                    <g>
</g>
                                    <g>
</g>
                                    <g>
</g>
                                    <g>
</g>
                                    <g>
</g>
                                    <g>
</g>
                                    <g>
</g>
                                    <g>
</g>
                                    <g>
</g>
                                    <g>
</g>
                                    <g>
</g>
                                    <g>
</g>
                                    <g>
</g>
</svg>
                                <div class="text">
                                    Tilføj batch
                                </div>
                            </a>
                            <div class="category statistics">
                                <svg class="svg" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                                     xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                     viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;"
                                     xml:space="preserve">
<g>
	<g>
		<g>
			<path d="M365.063,123c-0.023,0-0.047,0-0.07,0c-5.33,0-10.441,2.128-14.197,5.913L236.05,244.554l-42.948-43.591
				c-3.728-3.783-8.807-5.928-14.117-5.963c-0.044,0-0.086,0-0.13,0c-5.264,0-10.317,2.076-14.063,5.779l-76.854,76
				c-7.854,7.767-7.925,20.43-0.158,28.284c3.912,3.956,9.064,5.938,14.222,5.937c5.08,0,10.164-1.925,14.062-5.779l62.607-61.912
				l43.083,43.727c3.751,3.807,8.868,5.954,14.212,5.963c0.012,0,0.023,0,0.035,0c5.331,0,10.441-2.128,14.197-5.913
				l114.695-115.591l30.812,31.492c7.728,7.896,20.389,8.032,28.283,0.308c7.895-7.725,8.033-20.387,0.309-28.283l-45.008-46
				C375.542,125.185,370.418,123.019,365.063,123z"/>
            <path d="M492,242c11.046,0,20-8.954,20-20V61c0-11.046-8.954-20-20-20H276V20c0-11.046-8.954-20-20-20s-20,8.954-20,20v21H20
				C8.954,41,0,49.954,0,61v262c0,44.112,35.888,80,80,80h156v69h-60c-11.046,0-20,8.954-20,20c0,11.046,8.954,20,20,20h159
				c11.046,0,20-8.954,20-20c0-11.046-8.954-20-20-20h-59v-69h156c44.112,0,80-35.888,80-80c0-11.046-8.954-20-20-20
				c-11.046,0-20,8.954-20,20c0,22.056-17.944,40-40,40H80c-22.056,0-40-17.944-40-40V81h432v141C472,233.046,480.954,242,492,242z"
            />
		</g>
	</g>
</g>
                                    <g>
</g>
                                    <g>
</g>
                                    <g>
</g>
                                    <g>
</g>
                                    <g>
</g>
                                    <g>
</g>
                                    <g>
</g>
                                    <g>
</g>
                                    <g>
</g>
                                    <g>
</g>
                                    <g>
</g>
                                    <g>
</g>
                                    <g>
</g>
                                    <g>
</g>
                                    <g>
</g>
</svg>
                                <div class="text">
                                    Se statistik
                                </div>
                            </div>
                            <a th:href="@{/settings/settings-page}" class="category settings">
                                <svg class="svg" height="511pt" viewBox="0 1 511 511.999" width="511pt"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                                         xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                         viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;"
                                         xml:space="preserve">
<g>
	<g>
		<path d="M256,140c-63.963,0-116,52.038-116,116s52.037,116,116,116c11.947,0,23.735-1.813,35.036-5.39
			c10.531-3.333,16.365-14.572,13.032-25.103c-3.332-10.531-14.574-16.366-25.103-13.033C271.573,330.814,263.847,332,256,332
			c-41.906,0-76-34.093-76-76s34.094-76,76-76s76,34.093,76,76c0,7.283-1.024,14.479-3.045,21.386
			c-3.101,10.602,2.98,21.709,13.582,24.81c10.604,3.101,21.709-2.98,24.811-13.582C370.435,278.058,372,267.084,372,256
			C372,192.038,319.963,140,256,140z"/>
	</g>
</g>
                                        <g>
	<g>
		<path d="M452,186.001h-10.071c-2.65,0-5.052-1.669-6.092-4.187l-0.178-0.432c-1.077-2.594-0.562-5.481,1.311-7.355l7.123-7.122
			c23.394-23.394,23.394-61.459,0-84.853L429.951,67.91c-11.333-11.333-26.401-17.574-42.427-17.574
			c-16.028,0-31.095,6.241-42.427,17.574l-7.121,7.121c-1.875,1.875-4.765,2.389-7.347,1.316l-0.377-0.156
			c-2.583-1.067-4.251-3.468-4.251-6.117V60c0-33.084-26.916-60-60-60h-20c-33.084,0-60,26.916-60,60v10.074
			c0,2.649-1.668,5.05-4.229,6.107l-0.391,0.162c-2.591,1.078-5.481,0.563-7.354-1.311l-7.122-7.122
			c-11.332-11.333-26.4-17.574-42.427-17.574c-16.027,0-31.094,6.241-42.427,17.574L67.909,82.05
			c-23.394,23.395-23.394,61.459,0.001,84.854l7.121,7.121c1.874,1.875,2.388,4.762,1.281,7.43l-0.121,0.292
			c-1.066,2.583-3.469,4.252-6.118,4.252H60c-33.084,0-60,26.916-60,60v20c0,33.084,26.916,60,60,60h10.072
			c2.65,0,5.051,1.669,6.092,4.187l0.178,0.432c1.077,2.594,0.562,5.481-1.312,7.355l-7.121,7.122
			c-11.333,11.333-17.574,26.4-17.574,42.427c0,16.026,6.241,31.093,17.573,42.426L82.05,444.09
			c11.333,11.333,26.401,17.574,42.427,17.574c16.028,0,31.095-6.241,42.427-17.574l7.121-7.121
			c1.873-1.875,4.764-2.389,7.347-1.316l0.377,0.156c2.583,1.067,4.251,3.468,4.251,6.117V452c0,33.084,26.916,60,60,60h20
			c33.084,0,60-26.916,60-60v-10.074c0-2.649,1.668-5.05,4.229-6.107l0.391-0.162c2.593-1.076,5.481-0.562,7.354,1.311l7.122,7.122
			c11.332,11.333,26.4,17.574,42.427,17.574c16.027,0,31.094-6.241,42.427-17.574l14.142-14.142
			c11.332-11.332,17.573-26.4,17.573-42.426c0-16.027-6.241-31.094-17.573-42.426l-7.122-7.122
			c-1.875-1.874-2.389-4.761-1.312-7.355l0.151-0.366c1.067-2.583,3.469-4.252,6.118-4.252H452c33.084,0,60-26.916,60-60v-20
			C512,212.917,485.084,186.001,452,186.001z M472,266c0,11.028-8.972,20-20,20h-10.073c-18.905,0-35.818,11.376-43.089,28.983
			l-0.13,0.314c-7.298,17.599-3.384,37.6,9.976,50.961l7.123,7.122c3.777,3.777,5.857,8.8,5.857,14.142
			c0,5.342-2.08,10.364-5.858,14.142l-14.141,14.142c-3.779,3.777-8.801,5.858-14.143,5.858c-5.343,0-10.365-2.08-14.142-5.858
			l-7.123-7.123c-13.368-13.365-33.381-17.276-50.991-9.962l-0.282,0.117C297.377,406.108,286,423.021,286,441.926V452
			c0,11.028-8.972,20-20,20h-20c-11.028,0-20-8.972-20-20v-10.074c0-18.905-11.377-35.818-29.005-43.097l-0.27-0.112
			c-5.89-2.447-12.047-3.636-18.137-3.636c-12.111,0-23.951,4.709-32.846,13.603l-7.122,7.123
			c-3.778,3.777-8.799,5.857-14.142,5.857c-5.342,0-10.365-2.081-14.142-5.858l-14.142-14.142c-3.778-3.778-5.858-8.8-5.858-14.142
			c0-5.342,2.08-10.365,5.858-14.142l7.122-7.122c13.361-13.361,17.275-33.362,9.976-50.961l-0.13-0.314
			C105.89,297.376,88.977,286,70.073,286H60c-11.028,0-20-8.972-20-20v-20c0-11.028,8.972-20,20-20h10.073
			c18.905,0,35.818-11.376,43.116-29.047l0.093-0.227c7.312-17.604,3.4-37.616-9.967-50.984l-7.121-7.121
			c-7.799-7.799-7.799-20.487,0-28.285l14.141-14.142c3.779-3.777,8.801-5.858,14.143-5.858c5.343,0,10.365,2.08,14.142,5.858
			l7.123,7.123c13.369,13.366,33.382,17.278,50.991,9.962l0.282-0.117C214.623,105.892,226,88.979,226,70.074V60
			c0-11.028,8.972-20,20-20h20c11.028,0,20,8.972,20,20v10.074c0,18.905,11.377,35.818,29.005,43.096l0.27,0.112
			c17.601,7.31,37.614,3.399,50.983-9.967l7.122-7.123c3.778-3.777,8.799-5.857,14.142-5.857c5.342,0,10.365,2.081,14.142,5.858
			l14.142,14.142c7.799,7.798,7.799,20.486,0.001,28.284l-7.123,7.123c-13.366,13.368-17.278,33.379-9.996,50.91l0.15,0.365
			C406.11,214.624,423.023,226,441.927,226H452c11.028,0,20,8.972,20,20V266z"/>
	</g>
</g>
                                        <g>
</g>
                                        <g>
</g>
                                        <g>
</g>
                                        <g>
</g>
                                        <g>
</g>
                                        <g>
</g>
                                        <g>
</g>
                                        <g>
</g>
                                        <g>
</g>
                                        <g>
</g>
                                        <g>
</g>
                                        <g>
</g>
                                        <g>
</g>
                                        <g>
</g>
                                        <g>
</g>
</svg>
                                </svg>
                                <div class="text">
                                    Indstillinger
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-8">
                    <div class="card card-custom">
                        <div class="card-header">
                            Vigtig information
                            <div class="description">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua.
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr class="text-left">
                                        <th class="pl-0">
                                            Batch ID
                                        </th>
                                        <th class="pl-0">
                                            Start Quantity
                                        </th>
                                        <th class="pl-0 status">
                                            End Quantity
                                        </th>
                                        <th class="pl-0">
                                            Expiration Date
                                        </th>
                                        <th class="pr-0 text-right action">
                                            Product ID
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="" >
                                        <td class="pl-0 item-type" >
                                        </td>
                                        <td class="pl-0">
                                            100
                                        </td>
                                        <td class="pl-0">
                                            <div class="soon-exp">
                                                Udløber snart
                                            </div>
                                        </td>
                                        <td class="pl-0 date">
                                            15-05-2020
                                        </td>
                                        <td class="pr-0 text-right">
                                            <button type="button" class="btn btn-light">
                                                <svg class="svg" version="1.1" id="Capa_1"
                                                     xmlns="http://www.w3.org/2000/svg"
                                                     xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                     viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;"
                                                     xml:space="preserve">
<g>
	<g>
		<path d="M504.527,67.909c-8.611-6.92-21.2-5.547-28.118,3.063L210.291,402.169c-3.612,3.863-8.494,6.101-13.797,6.314
			c-5.459,0.22-10.629-1.73-14.523-5.431L33.839,261.061c-7.975-7.643-20.634-7.374-28.278,0.599
			c-7.643,7.974-7.375,20.634,0.599,28.278l148.191,142.048c11.26,10.703,25.83,16.515,41.268,16.515
			c0.825,0,1.655-0.017,2.484-0.051c16.352-0.657,31.371-7.734,42.288-19.926c0.237-0.265,0.467-0.537,0.691-0.814L507.59,96.027
			C514.508,87.416,513.137,74.828,504.527,67.909z"/>
	</g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
</svg>
                                            </button>
                                            <button type="button" class="btn btn-light">
                                                <svg class="svg" version="1.1" id="Capa_1"
                                                     xmlns="http://www.w3.org/2000/svg"
                                                     xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                     viewBox="0 0 512.001 512.001"
                                                     style="enable-background:new 0 0 512.001 512.001;"
                                                     xml:space="preserve">
<g>
	<g>
		<path d="M284.286,256.002L506.143,34.144c7.811-7.811,7.811-20.475,0-28.285c-7.811-7.81-20.475-7.811-28.285,0L256,227.717
			L34.143,5.859c-7.811-7.811-20.475-7.811-28.285,0c-7.81,7.811-7.811,20.475,0,28.285l221.857,221.857L5.858,477.859
			c-7.811,7.811-7.811,20.475,0,28.285c3.905,3.905,9.024,5.857,14.143,5.857c5.119,0,10.237-1.952,14.143-5.857L256,284.287
			l221.857,221.857c3.905,3.905,9.024,5.857,14.143,5.857s10.237-1.952,14.143-5.857c7.811-7.811,7.811-20.475,0-28.285
			L284.286,256.002z"/>
	</g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
</svg>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="pl-0 item-type">
                                            Eksempel 2
                                        </td>
                                        <td class="pl-0">
                                            50
                                        </td>
                                        <td class="pl-0">
                                            <div class="soon-exp">
                                                Udløber snart
                                            </div>
                                        </td>
                                        <td class="pl-0 date">
                                            22-05-2020
                                        </td>
                                        <td class="pr-0 text-right">
                                            <button type="button" class="btn btn-light">
                                                <svg class="svg" version="1.1" id="Capa_1"
                                                     xmlns="http://www.w3.org/2000/svg"
                                                     xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                     viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;"
                                                     xml:space="preserve">
<g>
	<g>
		<path d="M504.527,67.909c-8.611-6.92-21.2-5.547-28.118,3.063L210.291,402.169c-3.612,3.863-8.494,6.101-13.797,6.314
			c-5.459,0.22-10.629-1.73-14.523-5.431L33.839,261.061c-7.975-7.643-20.634-7.374-28.278,0.599
			c-7.643,7.974-7.375,20.634,0.599,28.278l148.191,142.048c11.26,10.703,25.83,16.515,41.268,16.515
			c0.825,0,1.655-0.017,2.484-0.051c16.352-0.657,31.371-7.734,42.288-19.926c0.237-0.265,0.467-0.537,0.691-0.814L507.59,96.027
			C514.508,87.416,513.137,74.828,504.527,67.909z"/>
	</g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
</svg>
                                            </button>
                                            <button type="button" class="btn btn-light">
                                                <svg class="svg" version="1.1" id="Capa_1"
                                                     xmlns="http://www.w3.org/2000/svg"
                                                     xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                     viewBox="0 0 512.001 512.001"
                                                     style="enable-background:new 0 0 512.001 512.001;"
                                                     xml:space="preserve">
<g>
	<g>
		<path d="M284.286,256.002L506.143,34.144c7.811-7.811,7.811-20.475,0-28.285c-7.811-7.81-20.475-7.811-28.285,0L256,227.717
			L34.143,5.859c-7.811-7.811-20.475-7.811-28.285,0c-7.81,7.811-7.811,20.475,0,28.285l221.857,221.857L5.858,477.859
			c-7.811,7.811-7.811,20.475,0,28.285c3.905,3.905,9.024,5.857,14.143,5.857c5.119,0,10.237-1.952,14.143-5.857L256,284.287
			l221.857,221.857c3.905,3.905,9.024,5.857,14.143,5.857s10.237-1.952,14.143-5.857c7.811-7.811,7.811-20.475,0-28.285
			L284.286,256.002z"/>
	</g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
</svg>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="pl-0 item-type">
                                            Eksempel 3
                                        </td>
                                        <td class="pl-0">
                                            75
                                        </td>
                                        <td class="pl-0">
                                            <div class="soon-exp">
                                                Udløber snart
                                            </div>
                                        </td>
                                        <td class="pl-0 date">
                                            25-05-2020
                                        </td>
                                        <td class="pr-0 text-right">
                                            <button type="button" class="btn btn-light">
                                                <svg class="svg" version="1.1" id="Capa_1"
                                                     xmlns="http://www.w3.org/2000/svg"
                                                     xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                     viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;"
                                                     xml:space="preserve">
<g>
	<g>
		<path d="M504.527,67.909c-8.611-6.92-21.2-5.547-28.118,3.063L210.291,402.169c-3.612,3.863-8.494,6.101-13.797,6.314
			c-5.459,0.22-10.629-1.73-14.523-5.431L33.839,261.061c-7.975-7.643-20.634-7.374-28.278,0.599
			c-7.643,7.974-7.375,20.634,0.599,28.278l148.191,142.048c11.26,10.703,25.83,16.515,41.268,16.515
			c0.825,0,1.655-0.017,2.484-0.051c16.352-0.657,31.371-7.734,42.288-19.926c0.237-0.265,0.467-0.537,0.691-0.814L507.59,96.027
			C514.508,87.416,513.137,74.828,504.527,67.909z"/>
	</g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
</svg>
                                            </button>
                                            <button type="button" class="btn btn-light">
                                                <svg class="svg" version="1.1" id="Capa_1"
                                                     xmlns="http://www.w3.org/2000/svg"
                                                     xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                     viewBox="0 0 512.001 512.001"
                                                     style="enable-background:new 0 0 512.001 512.001;"
                                                     xml:space="preserve">
<g>
	<g>
		<path d="M284.286,256.002L506.143,34.144c7.811-7.811,7.811-20.475,0-28.285c-7.811-7.81-20.475-7.811-28.285,0L256,227.717
			L34.143,5.859c-7.811-7.811-20.475-7.811-28.285,0c-7.81,7.811-7.811,20.475,0,28.285l221.857,221.857L5.858,477.859
			c-7.811,7.811-7.811,20.475,0,28.285c3.905,3.905,9.024,5.857,14.143,5.857c5.119,0,10.237-1.952,14.143-5.857L256,284.287
			l221.857,221.857c3.905,3.905,9.024,5.857,14.143,5.857s10.237-1.952,14.143-5.857c7.811-7.811,7.811-20.475,0-28.285
			L284.286,256.002z"/>
	</g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
</svg>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="pl-0 item-type">
                                            Eksempel 4
                                        </td>
                                        <td class="pl-0">
                                            2
                                        </td>
                                        <td class="pl-0">
                                            <div class="exp">
                                                Er udløbet
                                            </div>
                                        </td>
                                        <td class="pl-0 date">
                                            14-05-2020
                                        </td>
                                        <td class="pr-0 text-right">
                                            <button type="button" class="btn btn-light">
                                                <svg class="svg" version="1.1" id="Capa_1"
                                                     xmlns="http://www.w3.org/2000/svg"
                                                     xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                     viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;"
                                                     xml:space="preserve">
<g>
	<g>
		<path d="M504.527,67.909c-8.611-6.92-21.2-5.547-28.118,3.063L210.291,402.169c-3.612,3.863-8.494,6.101-13.797,6.314
			c-5.459,0.22-10.629-1.73-14.523-5.431L33.839,261.061c-7.975-7.643-20.634-7.374-28.278,0.599
			c-7.643,7.974-7.375,20.634,0.599,28.278l148.191,142.048c11.26,10.703,25.83,16.515,41.268,16.515
			c0.825,0,1.655-0.017,2.484-0.051c16.352-0.657,31.371-7.734,42.288-19.926c0.237-0.265,0.467-0.537,0.691-0.814L507.59,96.027
			C514.508,87.416,513.137,74.828,504.527,67.909z"/>
	</g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
</svg>
                                            </button>
                                            <button type="button" class="btn btn-light">
                                                <svg class="svg" version="1.1" id="Capa_1"
                                                     xmlns="http://www.w3.org/2000/svg"
                                                     xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                     viewBox="0 0 512.001 512.001"
                                                     style="enable-background:new 0 0 512.001 512.001;"
                                                     xml:space="preserve">
<g>
	<g>
		<path d="M284.286,256.002L506.143,34.144c7.811-7.811,7.811-20.475,0-28.285c-7.811-7.81-20.475-7.811-28.285,0L256,227.717
			L34.143,5.859c-7.811-7.811-20.475-7.811-28.285,0c-7.81,7.811-7.811,20.475,0,28.285l221.857,221.857L5.858,477.859
			c-7.811,7.811-7.811,20.475,0,28.285c3.905,3.905,9.024,5.857,14.143,5.857c5.119,0,10.237-1.952,14.143-5.857L256,284.287
			l221.857,221.857c3.905,3.905,9.024,5.857,14.143,5.857s10.237-1.952,14.143-5.857c7.811-7.811,7.811-20.475,0-28.285
			L284.286,256.002z"/>
	</g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
</svg>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="pl-0 item-type">
                                            Eksempel 5
                                        </td>
                                        <td class="pl-0">
                                            10
                                        </td>
                                        <td class="pl-0">
                                            <div class="exp">
                                                Er udløbet
                                            </div>
                                        </td>
                                        <td class="pl-0 date">
                                            01-05-2020
                                        </td>
                                        <td class="pr-0 text-right">
                                            <button type="button" class="btn btn-light">
                                                <svg class="svg" version="1.1" id="Capa_1"
                                                     xmlns="http://www.w3.org/2000/svg"
                                                     xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                     viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;"
                                                     xml:space="preserve">
<g>
	<g>
		<path d="M504.527,67.909c-8.611-6.92-21.2-5.547-28.118,3.063L210.291,402.169c-3.612,3.863-8.494,6.101-13.797,6.314
			c-5.459,0.22-10.629-1.73-14.523-5.431L33.839,261.061c-7.975-7.643-20.634-7.374-28.278,0.599
			c-7.643,7.974-7.375,20.634,0.599,28.278l148.191,142.048c11.26,10.703,25.83,16.515,41.268,16.515
			c0.825,0,1.655-0.017,2.484-0.051c16.352-0.657,31.371-7.734,42.288-19.926c0.237-0.265,0.467-0.537,0.691-0.814L507.59,96.027
			C514.508,87.416,513.137,74.828,504.527,67.909z"/>
	</g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
</svg>
                                            </button>
                                            <button type="button" class="btn btn-light">
                                                <svg class="svg" version="1.1" id="Capa_1"
                                                     xmlns="http://www.w3.org/2000/svg"
                                                     xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                     viewBox="0 0 512.001 512.001"
                                                     style="enable-background:new 0 0 512.001 512.001;"
                                                     xml:space="preserve">
<g>
	<g>
		<path d="M284.286,256.002L506.143,34.144c7.811-7.811,7.811-20.475,0-28.285c-7.811-7.81-20.475-7.811-28.285,0L256,227.717
			L34.143,5.859c-7.811-7.811-20.475-7.811-28.285,0c-7.81,7.811-7.811,20.475,0,28.285l221.857,221.857L5.858,477.859
			c-7.811,7.811-7.811,20.475,0,28.285c3.905,3.905,9.024,5.857,14.143,5.857c5.119,0,10.237-1.952,14.143-5.857L256,284.287
			l221.857,221.857c3.905,3.905,9.024,5.857,14.143,5.857s10.237-1.952,14.143-5.857c7.811-7.811,7.811-20.475,0-28.285
			L284.286,256.002z"/>
	</g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
                                                    <g>
</g>
</svg>
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html> 